/*Selector {
	Property: value;
}*/
body {
	background-image: url(background_image.jpg);
	background-size: cover; 
}
h2, p{
	color: green;
	text-align: center; 
	border: 5px solid purple; 
	cursor: pointer;  
}

li {
	list-style: none;
	display: inline-block; 
}

.webtext {
	border: 5px dashed green; 
}

.active {
	color: red;
}

#div {
	background: rgba(0,0,255,0.2);
}